//Phone only
@media screen and (max-width: 599px) {
    body {
        padding: 2em .9em;
    }

    header {
        margin-bottom: 2em;
    }
}

// tablets - portrait
@media screen and (min-width: 600px){
    body {
        padding: 2em;
    }

    #mobile-menu {
        display: none
    }

    header {
        padding: 2em 0;
        margin-bottom: 0;
        nav {
            ul {
                display: flex !important;
                gap: 5em;
                li {
                    list-style: none;
                        a {
                            text-decoration: none;
                            color: var(--darkGrayishBlue);
                        }
                        a:hover {
                            color: var(--veryDarkBlue);
                            transition: color 1s;
                            border-bottom: 1px dotted var(--veryDarkBlue);
                            transition: border-bottom 1s;
                        }

                }
            }
        }
    }

    div#main-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1em;
    }
    
    .article-list {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }
    .article-content {
        padding-right: 1.5em;
    }
    
}

//tablet - landscape
@media screen and (min-width: 900px) {
    article {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 1em;
    }
}

// desktop 
@media screen and (min-width: 1200px) {
    body {
        padding: 3em 6em;
    }

    #banner {
        background-image: url('../images/image-web-3-desktop.jpg') !important;
        margin-top: 0 !important;
    }

   #main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
   } 

   div#banner-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        a {
            grid-column: 2;
        }
    }
    
    .article-list {
        padding: 4em 0 !important;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }
    
    article {
        grid-template-columns: 40% 60%;
        gap: 1.5em;
    }
}

// wide screen desktop 
@media screen and (min-width: 1800px) {
    body {
        max-width: 1600px;
        margin: auto;
    }
}


