@media screen and (min-width:1440px ) {

    body {
        padding: 3em 6em !important;
    }

    header {
        padding: 2em 0 4em 0;
        nav {
            ul {
                display: flex !important;
                gap: 5em;
                li {
                    list-style: none;
                        a {
                            text-decoration: none;
                            color: var(--darkGrayishBlue);
                        }

                }
            }
        }
    }

    #banner {
        background-image: url('/assets/images/image-web-3-desktop.jpg') !important;
        margin-top: 0 !important;
    }
    
    #mobile-menu {
        display: none
    }

   #main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
   } 

   div#banner-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        a {
            grid-column: 2;
        }
    }
    
    .article-list {
        padding: 4em 0 !important;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
    }
}